@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model X.PagedList.IPagedList<OrganicShop.Models.Posts>
@{
    ViewData["Title"] = "Blog/Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<partial name="~/Views/Shared/_HeroSectionPartialView.cshtml" />

<!-- Breadcrumb Section Begin -->
<section class="breadcrumb-section set-bg" data-setbg="../img/breadcrumb.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Blog</h2>
                    <div class="breadcrumb__option">
                        <a asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        <span>Blog</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Breadcrumb Section End -->
<!-- Blog Section Begin -->
<section class="blog spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="blog__sidebar">
                    <div class="blog__sidebar__search">
                        <form method="get" asp-action="Index" asp-controller="Blog">
                            <input value="@ViewBag.searchString" name="searchString" type="text" placeholder="Search...">
                            <button type="submit"><span class="icon_search"></span></button>
                        </form>
                    </div>
                    <partial name="~/Views/Shared/_BlogCategoriesPartialView.cshtml" />

                    <div class="blog__sidebar__item">
                        <h4>Recent News</h4>
                        @await Component.InvokeAsync("RecentBlog")
                    </div>
                    <partial name="~/Views/Shared/_BlogTagPartialView.cshtml" />

                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="row">
                    @foreach(var item in Model)
                    {
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <div class="blog__item">
                                <div class="blog__item__pic">
                                    <img src="~/images/news/@item.Thumb" alt="@item.Title" style="width:370px; height: 266px">
                                </div>
                                <div class="blog__item__text">
                                    <ul>
                                        <li><i class="fa fa-calendar-o"></i>@item.CreatedDate</li>
                                        <li><i class="fa fa-eye"></i> 5</li>
                                    </ul>
                                    <h5><a asp-area="" asp-controller="Blog" asp-action="Details" asp-route-id="@item.PostID">@item.Title</a></h5>
                                    <p>
                                        @item.SContents
                                    </p>
                                    <a asp-area="" asp-controller="Blog" asp-action="Details" asp-route-id="@item.PostID" class="blog__btn">READ MORE <span class="arrow_right"></span></a>
                                </div>
                            </div>
                        </div>
                    }                 
                </div>
                @using (Html.BeginForm("Index", "Blog", FormMethod.Get))
                {
                    @Html.Hidden("page", (object)ViewBag.Page)
                    @Html.Hidden("searchString", (object)ViewBag.searchString)
                    @Html.Hidden("categoryId", (object)ViewBag.categoryId)
                }

                Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
                <br /><br />
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page , searchString = ViewBag.searchString,categoryId = ViewBag.categoryId}),
                new PagedListRenderOptions(){
                ContainerDivClasses = new[] { "pagination-container" },
                UlElementClasses = new[] { "pagination" },
                LiElementClasses = new string[]{"page-item"},
                PageClasses = new string[] {"page-link"},
                MaximumPageNumbersToDisplay = 5,
                })
            </div>
        </div>
    </div>
</section>
<!-- Blog Section End -->
