@model OrganicShop.Models.Products
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">  <a asp-controller="Home" asp-action="Index">Home  </a>  </li>
        <li class="breadcrumb-item">  <a asp-action="Index">Products </a> </li>
        <li class="breadcrumb-item active" aria-current="page">@Model.ProductName</li>
    </ol>
</nav>
<div class="card">
    <div class="card-header no-gutters has-tab" style="background-color:#fff">
        <div class="d-md-flex m-b-15 align-items-center justify-content-between">
            <div class="media align-items-center m-b-15">
                <div class="avatar avatar-images">
                    <img src="~/images/products/@Model.Thumb" alt="@Model.Title" style="height:70px; width:70px;" asp-append-version="true" />
                </div>
                &nbsp; &nbsp;&nbsp;
                <div class="m-l-15">
                    <h4 class="m-b-0 font-weight-bold">@Model.ProductName</h4>
                    <p class="text-muted m-b-0">ID: #@Model.ProductID</p>
                </div>
            </div>
            <div class="m-b-15">
                <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model.ProductID" title="Edit"><i class="mdi mdi-circle-edit-outline"></i></a>
            </div>
        </div>
    </div>
</div>

<br />
<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#news-overview">Overview</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#news-description">Description</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#news-images">Media</a>
        </li>
    </ul>
    <div class="tab-content m-t-15">
        <div class="tab-pane show active" id="news-overview">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title font-weight-bold">Product: @Model.ProductName</h4>
                    <div class="table-responsive">
                        <table class="table m-t-20">
                            <tbody>
                                <tr>
                                    <td>Title:</td>
                                    <td class="text-dark font-weight-bold">@Model.Title</td>
                                </tr>
                                <tr>
                                    <td>Alias:</td>
                                    <td>@Model.Alias</td>
                                </tr>
                                <tr>
                                    <td>Short Description:</td>
                                    <td>@Model.ShortDesc</td>
                                </tr>
                                <tr>
                                    <td>Categories:</td>
                                    <td>@Model.Categories.CatName</td>
                                </tr>
                                <tr>
                                    <td>Price:</td>
                                    <td>@Model.Price</td>
                                </tr>
                                <tr>
                                    <td>Discount:</td>
                                    <td>@Model.Discount</td>
                                </tr>
                                <tr>
                                    <td>Unit Stock:</td>
                                    <td>@Model.UnitslnStock</td>
                                </tr>
                                <tr>
                                    <td>Status:</td>
                                    <td>
                                        <div class="checkbox">
                                            <input asp-for="Active" type="checkbox" />
                                            <label for="Active">Active</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Status:</td>
                                    <td>
                                        <div class="checkbox">
                                            <input asp-for="BestSellers" type="checkbox" />
                                            <label for="BestSellers">Bestsellers</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Status:</td>
                                    <td>
                                        <div class="checkbox">
                                            <input asp-for="HomeFlag" type="checkbox" />
                                            <label for="HomeFlag">Home Falg</label>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Tags:</td>
                                    <td>@Model.Tags</td>
                                </tr>
                                <tr>
                                    <td>CreatedDate:</td>
                                    <td>@Model.CreatedDate</td>
                                </tr>

                                <tr>
                                    <td>Modified Date:</td>
                                    <td>@Model.ModifiedDate</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="tab-pane fade" id="news-description">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Description</h4>
                </div>
                <div class="card-body">
                    @Html.Raw(Model.Description)
                </div>
            </div>
        </div>
        <div class="tab-pane fade" id="news-images">
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Image</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <img class="img-fluid" src="~/images/products/@Model.Thumb" alt="@Model.Title" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card">
                <div class="card-header">
                    <h4 class="card-title">Video</h4>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <video class="img-fluid" src="~/videos/products/@Model.Video" alt="@Model.Title"></video>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<hr />
<div>
    <a asp-action="Index"><i class="mdi mdi-arrow-left-bold" style="font-size: 20px;"><span>Back</span></i></a>
</div>




