@model OrganicShop.Models.Customers
@{
    ViewData["Title"] = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">  <a href="#">Home  </a>  </li>
        <li class="breadcrumb-item">  <a asp-action="Index">Customers </a> </li>
        <li class="breadcrumb-item active" aria-current="page">Detail </li>
    </ol>
</nav>
<div class="form-row">
    <div class="col-md-4 mb-3">
        <label for="validationDefault01">Full Name</label>
        <input type="text" class="form-control" id="validationDefault01" asp-for="@Model.FullName" readonly />
    </div>
    <div class="col-md-4 mb-3">
        <label for="validationDefault02">Phone Number</label>
        <input type="text" class="form-control" id="validationDefault02" asp-for="@Model.Phone" readonly />
    </div>
    <div class="col-md-4 mb-3">
        <label for="exampleFormControlSelect14">Birthday</label>
        <input type="text" class="form-control" id="validationDefault02" asp-for="@Model.BirthDay" readonly />
    </div>
</div>
<div class="form-row">
    <div class="col-md-4 mb-3">
        <label for="validationDefault01">Ward</label>
        <input type="text" class="form-control" id="validationDefault01" asp-for="@Model.ward.WardName" readonly />
    </div>
    <div class="col-md-4 mb-3">
        <label for="validationDefault02">District</label>
        <input type="text" class="form-control" id="validationDefault02" asp-for="@Model.district.DistrictName" readonly />
    </div>
    <div class="col-md-4 mb-3">
        <label for="exampleFormControlSelect14">City</label>
        <input type="text" class="form-control" id="validationDefault02" asp-for="@Model.city.cityName" readonly />
    </div>
</div>
<div class="form-row">
    <div class="col-md-4 mb-3">
        <label for="validationDefault01">Address</label>
        <input type="text" class="form-control" id="validationDefault01" asp-for="@Model.Address" readonly />
    </div>
    <div class="col-md-4 mb-3">
        <label for="validationDefault02">Email</label>
        <input type="text" class="form-control" id="validationDefault02" asp-for="@Model.Email" readonly />
    </div>
    <div class="col-md-4 mb-3">
        <label for="validationDefault03">Status</label>
        @if (Model.Active)
        {
            <input type="text" value="Active" class="form-control-sm" id="validationDefault04" checked readonly>

        }
        else
        {
            <input type="text" value="Disable" class="form-control-sm" id="validationDefault04" readonly>

        }

    </div>
</div>
<hr />
<div>
    <a asp-action="Index"><h5>Back to List</h5></a>
</div>