@using X.PagedList.Mvc.Core
@using X.PagedList.Web.Common
@model X.PagedList.IPagedList<OrganicShop.Models.Pages>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">  <a href="#"><i class="mdi mdi-home"></i>Home</a>  </li>
        <li class="breadcrumb-item">  <a href="#">Pages</a> </li>
        <li class="breadcrumb-item active" aria-current="page">List</li>
    </ol>
</nav>
<!-- Basic Table-->
<div class="card card-default card-responsive">
    <div class="card-header">
        <div class="row m-b-30">
            <div class="col-lg-12">
                <form asp-action="Index" method="get" class="form-inline">
                    <div class="d-md-flex">
                        <div class="m-b-10 m-r-15">
                            <input type="text" class="form-control" style="min-width:300px;" placeholder=" Search pages..." />
                        </div>
                    </div>
                    <button type="submit"><i class="mdi mdi-table-search" style="font-size: 30px; color:black;"></i></button>
                </form>

            </div>

        </div>
        <a asp-action="Create" class="btn btn-sm btn-outline-primary"><i class="mdi mdi-plus-circle" style="font-size: 15px;" title="Add Category"><span>Add Pages</span></i></a>

    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table align-middle mb-0 bg-white">
                <thead class="bg-light">
                    <tr>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Published</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.PageID</td>
                            <td>@item.PageName</td>
                            <td>
                                @if (item.Published)
                                {
                                    <span class="badge badge-success rounded-pill d-inline">Active</span>

                                }
                                else
                                {
                                    <span class="badge badge-danger rounded-pill d-inline">Disable</span>
                                }
                            </td>
                            <td>
                                <a asp-action="Details">
                                    <i class="mdi mdi-eye" style="font-size: 20px; color:black;padding-left: 15px;" title="View"></i>
                                </a>
                                <a asp-action="Edit">
                                    <i class="mdi mdi-pencil" title="Edit" style="font-size: 20px; color:black; padding-left: 15px;"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <!--Pagination-->

    <div class="card-footer" style="background-color:white">
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        <br /><br />
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }),
        new PagedListRenderOptions(){
        ContainerDivClasses = new[] { "pagination-container" },
        UlElementClasses = new[] { "pagination" },
        LiElementClasses = new string[]{"page-item"},
        PageClasses = new string[] {"page-link"},
        MaximumPageNumbersToDisplay = 5,

        })
    </div>
</div>
